{% extends "base.html" %}
{% block content %}
<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
        </ol>
    </div>
</div>
<div id="dashboard-header" class="row">
    <div class="col-xs-10 col-sm-2">
        <h3>BEM VINDO!</h3>
    </div>
</div>

<div id="dashboard_tabs" class="col-xs-24 col-sm-12	">
        <!--Start Dashboard Tab 1-->
    <div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
        <div id="ow-marketplace" class="col-sm-24 col-md-12">
            <h4 class="page-header">SOBRE</h4>
            
            Este protótipo é resultado da pesquisa de mestrado desenvolvida por Sabrina S. Panceri e orientada pelo 
            Prof. Crediné S. de Menezes.
            
            <p> O ALPES é um sistema multiagente desenvolvido para dar suporte ao professor mediador ao utilizar o 
            Sistema Debate de Teses. </p>
            
        </div>
    </div>
</div>
<!--End Breadcrumb-->

{% endblock %}