{% extends "base.html" %}

{% block content %}

<style type="text/css">
		.tagsCloud_grupo a.tag{
			font-family: 'PTSans';
			text-decoration: none;			
		}
		
		.tagsCloud_grupo li.cnt{
			overflow: hidden;
		    position: absolute;
			display: block;	
		}
		
		.tagsCloud_grupo ul.cloud{
			position: relative;
			display: block;
			width: 800px;
			height: 600px;
			overflow: hidden;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
</style>




<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/summary/">Síntese das Autorias</a></li>
        </ol>
    </div>
</div>
<div class="col-xs-12">

</div>

<h4 class="page-header">
    Síntese das Autorias
</h4>

<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="box">
                    <div class="box-content">
                        <h2 class="page-header"><small>Debate em análise : </small>XIV Maratona de Empreendedorismo da UFRGS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="box">
                    <div class="box-content" id="tableResult">
{% autoescape off %}
						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 1</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td>
										<div class="tagsCloud_grupo"> 
							    			<ul class="cloud">	
												{{grupo1str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 		
					    				{{grupo1usr}}
									</td>
								</tr>
					            
						    </tbody>
						</table>

						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 2</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td>
										<div class="tagsCloud_grupo"> 
							    			<ul class="cloud">	
												{{grupo2str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 		
										{{grupo2usr}}
									</td>
								</tr>
					            
						    </tbody>
						</table>

						{%if grupo3usr != ""%}
						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 3</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td> 
										<div class="tagsCloud_grupo"> 
							    			<ul class="cloud">	
												{{grupo3str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 
					    				{{grupo3usr}}	
									</td>
								</tr>
						    </tbody>
						</table>
						{%endif%}

						{%if grupo4usr != ""%}
						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 4</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td> 
										<div class="tagsCloud_grupo"> 
							    			<ul class="cloud">	
												{{grupo4str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 
					    				{{grupo4usr}}
									</td>
								</tr>
					            
						    </tbody>
						</table>
						{%endif%}

						{%if grupo5usr != ""%}
						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 5</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td> 
										<div class="tagsCloud_grupo"> 
							    			<ul class="cloud">	
												{{grupo5str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 
										{{grupo5usr}}
									</td>
								</tr>
					            
						    </tbody>
						</table>
						{%endif%}

						{%if grupo6usr != ""%}
						<table class="table table-bordered table-hover ">
						    <thead>
						        <tr>
						            <th class="alert-info">Grupo 6</th>
						        </tr>
						    </thead>
						    <tbody>       
						    	<tr>
									<td>
										<div class="tagsCloud_grupo">  
							    			<ul class="cloud">	
												{{grupo6str}}
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td> 
					    				{{grupo6usr}}
									</td>
								</tr>
					            
						    </tbody>
						</table>
						{%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endautoescape %}

{% endblock %}